.table{
    color:darkgreen;
}


.dash{
    display:flex;
    justify-content: center;
    margin: 10px 10px;
}
.d1,.d2{
    margin: 5px;
    width: 33%;
    text-align: center;
}
.btn{
    color:aqua;
    background-color: blue;
    border: none;
}
.category{
    display: flex;
    flex-direction: column;
}